/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    padding: 34.5px 32px;
    align-items: center;
}
.nav-list {
    display: flex;
    width: 328px;
    justify-content: space-between;
}
.action {
    width: 100px;
    height: 48px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 32px;
}