/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    padding: 34.5px 32px;
    align-items: center;
}
.nav-list {
    display: flex;
    width: 328px;
    justify-content: space-between;
}
.action {
    width: 100px;
    height: 48px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 32px;
}

/* section 1 styles */
.section1 {
    padding: 64px 0 64px 0;
}
.section1-container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.section1-div1 {
    width: 490px;
    margin-right: 130px;
}
.main-title {
    font-size: 56px;
    line-height: 60px;
    font-weight: bold;
}
.title-text {
    font-size: 18px;
    margin-top: 24px;
    line-height: 28px;
}
.title-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.action-text {
    width: 236px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
}

/* section 2 styles */
.section2 {
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0 64px 0;
}
.section2-container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2-box {
    width: 360px;
}
.dot-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}
.black-dot {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
}
.black-dot-title {
    width: 102.2px;
    font-weight: bold;
    margin-left: 16px;
}
.black-dot-text {
    width: 335.35px;
}

/* section 3 styles */
.section3 {
    background-color: #000000;
    padding: 96px 0 96px 0;
}
.section3-container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.section3-image {
    border-radius: 12px;
}
.section3-div {
    color: #FFFFFF;
    width: 503.5px;
    margin-left: ;
}
.section3-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}
.section3-text {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0;
}
.list-item {
    margin-bottom: 8px;
}